body {
    background-image:url("../css/images/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


thead{
    background: #111;
    color:whitesmoke;
}


td, th {
    border: solid 1px black;
    height: 22px;
  }

.results{
    position: relative;
    width: 75%;
    margin-top: 50px;
    float: right;
	font-family: Arial, Helvetica, sans-serif;
}
.results-table{
    position: relative;
    margin:auto;
    border: solid 1px black;
    border-collapse: collapse;
    margin-bottom: 15px;
    text-align: center;
}

.tournament-header{
    background: #111;
    color:whitesmoke;
}

.esports-logo{
    width: 25px;
    height: 25px;
}

.tournament-game{
    background: white;
    margin-bottom: 1cm;
}

.game-start-time{
    width: 45px;
}
.game-status{
    width: 70px;
}
.game-home-team{
    width: 200px;
}
.game-result{
    width: 60px;
}
.game-away-team{
    width: 200px;
}
.game-round{
    width: 90px;
}

.overlay span:hover, .overlay span:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay span {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 767px) {
    .menu-list{display:none;}
    .menu{width:0;}
    .results{width:100%;}
}

@media screen and (min-width: 770px) {
    .phone-btn{display: none;
               margin:auto;}
}